.message{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &-seen{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-top: 5px;
            margin-right: 10px;
        }
        .message-box{
            display: flex;
            align-items: baseline;
            &-img-ava{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
            &-text{
                position: relative;
                padding: 10px 20px;
                max-width: 500px;
                height: fit-content;
                border-radius: 20px;
                color: white;
                font-size: 18px;
                &-img-sound{
                    position: absolute;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    bottom: -20px;
                    right: -20px;
                }
            }
        }
    }
}
.message-send{
    justify-content: flex-end;
}
.message-box-text-send{
    background: #1f2747;
}
.message-box-text-receive{
    background: linear-gradient(to right , #ea6646,#27306c);
}