.home{
    background: #202b4f;
    display: flex;
    align-items: center;
    &-menu{
        position: absolute;
        width: 100px;
        height: 95%;
        background: #24305c;
        margin-left: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        z-index: 1000;
        
        .close{
            display: none;
        }
        &-item{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 50px;
            border-right: 3px solid transparent;
            .count-notification{
                color: red;
                font-weight: bold;
                position: absolute;
                top: 10px;
                right: 30px;
                background: white;
                border-radius: 50%;
                padding: 0 5px;
            }
            .list-notification{
                position: absolute;
                width: 360px;
                max-height: 350px;
                overflow: auto;
                padding-top: 20px;
                padding-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                right: -365px;
                background: #24305c;
                color: white;
                font-size: 17px;
                &::-webkit-scrollbar{
                    width: 5px;
                }
                &::-webkit-scrollbar-thumb{
                    border-radius: 5px;
                    background: #ff6433;
                }
                &::-webkit-scrollbar-track{
                    border-radius: 5px;
                    background: #292f6b;
                }
                nav{
                    margin-bottom: 10px;
                    padding: 10px;
                    border: 1px solid  #202b4f;
                    width: 100%;
                }
            }
            .shake{
               animation: shake 0.5s linear infinite;
            }
            img{
                width: 90%;
                height:auto;
            }
            &-title{
                position: absolute;
                display: grid;
                align-items: center;
                width: 0;
                height: 100%;
                left: 85px;
                color: white;
                font-size: 20px;
                background: #24305c;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
                overflow: hidden;
                border: none;
                label{
                    margin: 0 20px;
                    text-transform: capitalize;
                }
            }
            &:hover{
                .home-menu-item-title{
                    width: fit-content;
                }
                .active-title{
                    border-right: 2px solid #ef5f3c;
                }
            }
        }
    }
    &-page{
        position: relative;
        width: 98%;
        height: 100%;
        margin-left: 120px;
        display: flex;
    }
}
.active-item{
    border-right: 3px solid #ef5f3c;
}
@keyframes shake {
    0%,20%,40%{
        transform: rotate(-5deg);
    }
    10%,30%{
        transform: rotate(5deg);
    }
    70%,80%,90%,100%{
        transform: rotate(0);
    }
}